<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
<h1>SITIOS DISPONIBLES</h1>
<hr>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Capacidad</th>
        <th>Dirección</th>
        <th>Disponible</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="place : ${places}">
        <td th:text="${place.id}"></td>
        <td th:text="${place.name}"></td>
        <td th:text="${place.description}"></td>
        <td th:text="${place.capacity}"></td>
        <td th:text="${place.address}"></td>
        <td th:text="${place.available ? 'Sí' : 'No'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>