<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/loginScreen.css">
</head>
<body>
<h1>LOGIN</h1>
<form action="/login" method="POST">
    <label>Email:</label>
    <input type="text" name="email" id="Email" placeholder="<Email2@ejemplo.com>" required="required">
    <br>
    <br>
    <label>Contrasena:</label>
    <input type="password" name="password" id="Password" placeholder="<PASSWORD>" required="required">
    <br>
    <button type="submit">Confirmar</button>
</form>
</body>
</html>
