<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Mis Reservas</title>
  <link rel="stylesheet" href="/css/userReserves.css">
</head>
<body>
<h1>Mis Reservas</h1>
<hr>

<table>
  <thead>
  <tr>
    <th>ID Reserva</th>
    <th>Nombre del Lugar</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reserve : ${reserves}">
    <td th:text="${reserve.id}"></td>
    <td th:text="${reserve.place.name}"></td>
    <td th:text="${reserve.fecha}"></td>
    <td th:text="${reserve.hora}"></td>
    <td>
      <form th:action="@{/user/updateReserve}" method="GET" style="display:inline;">
        <input type="hidden" name="reserveId" th:value="${reserve.id}"/>
        <button type="submit">Modificar</button>
      </form>

      <form th:action="@{/user/deleteReserve}" method="POST" style="display:inline;">
        <input type="hidden" name="reserveId" th:value="${reserve.id}"/>
        <button type="submit">Cancelar</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div>
  <a href="/">Volver a la página principal</a>
</div>

</body>
</html>

