<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRO</title>
</head>
<body>
<h1>REGISTRO</h1>
<form action="/register" method="POST">
  <label>Email:</label>
  <input type="text" name="email" id="Email" placeholder="Email@example.com" required="required">
  <br>
  <br>
  <label>Contrasena:</label>
  <input type="text" name="password" id="Password" placeholder="123Example" required="required">
  <br>
  <br>
  <label>Nombre de usuario:</label>
  <input type="text" name="username" id="Username" placeholder="Username" required="required">
  <button type="submit">Confirmar</button>
</form>
</body>
</html>