<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mis Reservas</title>
</head>
<body>
<h1>Mis Reservas</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>User</th>
    <th>Place</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reserve : ${reservas}">
    <td th:text="${reserve.id}"></td>
    <td th:text="${reserve.fecha}"></td>
    <td th:text="${reserve.hora}"></td>
    <td th:text="${reserve.user.username}"></td>
    <td th:text="${reserve.place.name}"></td>
    <td>
      <form th:action="@{/reserva/editar(id=${reserve.id})}" method="GET">
        <button type="submit">Edit</button>
      </form>
      <form th:action="@{/reserva/eliminar}" method="POST">
        <input type="hidden" name="id" th:value="${reserve.id}" />
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<a href="/homepage">Regresar a la página principal</a>
</body>
</html>


