body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #B026FF;
    text-align: center;
}

h2 {
    color: #B026FF;
    text-align: center;
    margin-top: 20px;
}

hr {
    color: #B026FF;
    margin: 20px auto;
    width: 80%;
}

form {
    width: 80%;
    margin: 20px auto;
    background-color: #2E2E2E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #B026FF;
    border-radius: 4px;
    background-color: #1C1C1C;
    color: white;
}

button {
    background-color: #B026FF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9A1D94;
}
